* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}


body, html {
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/029/411/111/large/eduardo-hurtado-05.jpg?1675857434");
    background-size: cover;
    width: 100vw;
    height: 100%;
    overflow: hidden;
}


.navbar {
    position: absolute;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.navbar a {
    color: white;
    text-shadow: 0 0 10px;
}


.navbar .logo {
    font-size: 2em;
    font-weight: bold;
}

.navbar .navlinks ul{
    display: flex;
}

.navbar .navlinks ul li{
    margin: 0 25px;
}

.navbar .navlinks ul li.active a {
    margin: 0 25px;
    color: pink;
    font-weight: 600;
}

.navbar .menu-button {
    display: none;
    width: 35px;
    position: absolute;
    top: 50px;
    right: 50px;
}


h2{
    text-align: center;
    color: white;
    font-size: xx-large;
}
.paragrapheG{
    text-align: center;
    margin: 20px;
    padding: 10px;
    color: white;
    font-size: x-large;
}

.listg {
    text-align: center;
    margin: 20px;
    padding: 10px;
    color: white;
    font-size: x-large;
}
.importantwrd{
    color :rgba(0, 255, 229, 0.911);
    text-shadow: 0 0 10px;
    
}

.p-container .p-background {

    position: absolute;
    width: 95vw;
    height: 600px;
    margin-top: 150px;
    margin-left: 50px;

    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);

    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}

.p-container .p-background .p-content {
    margin: 30px 50px;
    text-align: center;
    color: white;
}

.p-container .p-background .p-content h1 {
    text-decoration: underline;
    
}

.p-container .p-background .p-content form {
    margin-top: 20px;
}

.p-container .p-background .p-content ul li input {
    width: 35%;
}

.p-container .p-background .p-content ul li input[name="name"] {
    margin-right: 10px;
}

.p-container .p-background .p-content input {
    color: #fff;
    text-indent: 10px;
    border-color: #fff;
    background-color: transparent;
    height: 30px;
    border-radius: 5px;
}

.p-container .p-background .p-content input:focus{
    border-color: pink;
    color: #fff;
}

.p-container .p-background .p-content input::placeholder{
    opacity: 1;
    color: pink;
    text-shadow: 0px 0px 10px;
}

.p-container .p-background .p-content input[name="description"] {
    height: 200px;
    margin-top: 10px;
    width: 71%;
}


.container {
    overflow: auto;
    margin-top: 150px;
    height: 80%;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}

.container .card .content {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.75s;
}

.container .card:hover .content {
    transform: translateY(1px);
    opacity: 1;
}

.container .card .content img {
    position: absolute;
    top: 5px;
    right: 10px;
    border-radius: 25%;
    opacity: 0.2;
    width: 100px;
}

.container .card .content h3 {
    font-size: 1.8em;
    color: #fff;
    z-index: -1;
}

.container .card .content p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

.container .card .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 900px) {
    
    .navbar {
        padding: 0;
    }

    .navbar .menu-button {
        display: block;
    }

    .navbar .logo {
        position: absolute;
        top: 50px;
        left: 50px;
    }
    
    .navbar .navlinks ul li{
        margin: 25px 0;
        font-size: 1.2em;
    }

    .navlinks {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.349);
        backdrop-filter: blur(4px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .navlinks.mobile-menu {
        margin-left: 0;
    }

    .navlinks ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

